@charset "UTF-8";

/* Estilos para todos ALL */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

h1, h2  {
    color: white;
    text-shadow: 3px 3px 5px darkblue;
    font-size: 4em;
    text-align: center;
}
